@import "styles";

.Input:not([type="checkbox"]) {
  background: transparent;
  border: 1px solid #c4c4c4;
  outline: none;
  font-size: 14px;
  padding: 10px 15px;
  color: $dark-gray;
}

.checkboxWrap {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.checkboxWrap .checkMark {
  width: 100%;
  height: 100%;
  border: 1px solid $dull-yellow;
  display: inline-block;
  background: $dark-gray url("~assets/checkmark.png") center/1250% no-repeat;
  transition: background-size 0.15s ease;
}

.checkboxInput:checked + .checkMark {
  background-size: 60%;
  transition: background-size 0.1s ease;
}

.checkboxInput {
  display: none;
}
